llama_index
llama_index.core
llama_index.llms.huggingface
llama_index.embeddings.huggingface
llama_index.vector_stores
llama-index-vector-stores-chroma
llama-index-llms-ollama
sentence-transformers
langchain-huggingface
langchain-chroma
langchain-ollama
chromadb
numpy==1.26.4
gradio
gradio_client
edge-tts